.article h1 {
	line-height: 46px;
}

.article .content p {
	margin-bottom: 16px;
	line-height: 32px;
}

.article .content ol {
	list-style: decimal;
	margin-left: 34px;
	margin-bottom: 16px;
}

.article figcaption {
	font-size: 11px;
}
