@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-green: #587a3a;
	--secondary-green: #719d4a;
	--main-light-grey: #f7f7f7;
}

body {
	color: #4c4c4c;
	background: var(--main-light-grey);
	font-family: var(--font-nunito);
}
